
data/raw/*
!data/raw/.gitkeep

# Generated data artifacts (large / reproducible)
data/processed/*
!data/processed/.gitkeep

# Model artifacts
models/*
!models/.gitkeep

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

.idea/
.vscode/
*.swp
*.swo

.ipynb_checkpoints/

*.log
*.crc
_SUCCESS
*:Zone.Identifier

playground

