
data/raw/*
!data/raw/.gitkeep

models/saved_model/*
!models/saved_model/.gitkeep

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

.idea/
.vscode/
*.swp
*.swo

.ipynb_checkpoints/

*.log
